<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nackun.todo">

    <application>
        <activity android:name="com.nackun.todo.presentation.list.ListActivity" />
        <activity android:name="com.nackun.todo.presentation.detail.DetailActivity" />
    </application>
</manifest>
